@import '_variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
//hand sass mixins
@import '~handy.sass.mixins/scss/shared.scss';
//bootstrap-datepicker
@import '~bootstrap-datepicker/dist/css/bootstrap-datepicker.css';
//app styles
@import 'components/header';
@import 'components/expert';
@import 'components/appointment';
body {
    font-family: 'Raleway', sans-serif;
}

.image-container {
    width: 100%;
    padding: 30px;
    overflow: hidden;
    img {
        width: 100%;
        height: auto;
    }
}

.card {
    @include prefixer(box-shadow, 0 1px 6px 0 rgba(32, 33, 36, .28), ($prefix-list));
    padding: 30px 20px;
    .card-header {
        background-color: #fff;
        text-align: center;
        font-size: 22px;
        font-weight: 700;
        border-bottom: 0px;
        margin-bottom: 20px;
    }
}

.form-group {
    margin-bottom: 10px;
    margin-top: 10px;
}

.btn-primary {
    width: 100%;
    background-color: $primary-color;
}