#AppointmentModal {
    .modal-content {
        @include prefixer(box-shadow, 0 1px 6px 0 rgba(32, 33, 36, .28), ($prefix-list));
        padding: 10px 20px;
    }
    .modal-footer {
        display: flex;
        justify-content: center;
    }
}

.appointment-form {
    #datepicker {
        width: 100%;
        margin: 0px auto;
        .datepicker {
            width: 100%;
            .datepicker-days {
                width: 100%;
                table {
                    width: 100%;
                    background-color: #add580;
                }
            }
        }
    }
    label {
        width: 100%;
        font-weight: 900;
        &.center {
            text-align: center;
        }
    }
    option,
    select {
        color: $primary-color;
        font-weight: 900;
    }
    #appointment-info {
        color: $primary-color;
        font-weight: 900;
        display: none;
        .loading {
            width: 100%;
            height: 100%;
            color: $primary-color;
            font-size: 20px;
        }
    }
}

.hidden {
    display: none;
}

.loading {
    display: none;
    color: $primary-color;
    margin-left: 5px;
}