.expert-card {
    margin-bottom: 20px;
    .expert-img {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 20px 30px;
        img {
            width: 100%;
        }
    }
    .expert-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .name {
            color: $primary-color;
            font-weight: 900;
            font-size: 20px;
            margin-bottom: 20px;
        }
        .expert {
            color: $text-color;
            font-weight: 800;
            font-size: 18px;
            margin-bottom: 20px;
        }
        .more-info-box {
            border: 3px solid $text-color;
            padding: 20px 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-bottom: 20px;
            display: none;
            .country,
            .working-hours {
                font-size: 18px;
                font-weight: 900;
                margin: 10px 0px;
                text-align: center;
            }
        }
        .book-now {
            display: none;
            .loading {
                color: $primary-color;
                margin-left: 5px;
                display: none;
            }
        }
        .more-info-btn {
            background-color: $text-color;
            @include prefixer(border-radius, 20px, ($prefix-list));
            border: 1px solid $text-color;
            color: $primary-color;
            font-size: 16px;
            font-weight: 900;
            padding: 6px 20px;
            @include prefixer(transition, all 0.3s ease-in-out, ($prefix-list));
            cursor: pointer;
            &:hover {
                background-color: #fff;
            }
            &:disabled,
            &[disabled] {
                border: 1px solid #999999;
                background-color: #cccccc;
                color: #666666;
                cursor: not-allowed;
            }
        }
        .message {
            font-size: 12px;
            color: $primary-color;
            margin-top: 10px;
            text-align: center;
        }
    }
}